:root {
  --text-color: black;
  --background-color: white;
  --accent-color: #d49466;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
.NavBox {
  box-shadow: 0 1px 0 0 rgb(0 0 0/10%);
  background-color: var(--background-color);
  z-index: 100;
  position: relative;
}
.NavBar {
  position: relative;
  max-width: 1060px;
  height: 50px;
}
.MainBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* margin: 0px 190px; */
  flex-wrap: wrap;
  flex-direction: row;
}
.MainBar__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
}
.MainBar__logo .menu {
  display: flex;
  align-items: center;
}
.MainBar__logo img {
  max-width: 180px;
  max-height: 20px;
  margin-right: 15px;
}
.MainBar__logo .hamburger {
  width: 17px;
  height: 14px;
}
.MainBar__logo .wanted {
  height: 17px;
}
.MainBar__class {
  height: 50px;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.MainBar__class li {
  height: inherit;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
}
.MainBar__class li a > span,
.MainBar__class li a > em {
  position: absolute;
  top: 10px;
  right: -7px;
  pointer-events: none;
}
.MainBar__class .selected {
  box-shadow: inset 0 -2px #258bf7;
}
.MainBar__icons {
  height: inherit;
  display: flex;
  align-items: center;
}

.MainBar__icons ul {
  list-style: none;
  padding-left: 0;
  align-items: center;
}
.MainBar__icons > ul li {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.MainBar__icons > ul li button {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  border: none;
  color: var(--text-color);
  /* padding: 10px; */
}
.MainBar__icons > ul li button {
  position: relative;
  margin: 5px 0px 5px 0px;
}
.MainBar__icons > ul li .Badge {
  background-color: rgb(51, 102, 255);
  width: 13px;
  height: 13px;
}
.MainBar__icons .avatarBorder {
  border: 1px solid #e1e2e3;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
}
.MainBar__icons .profileButton img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.MainBar__icons .leftDivision {
  display: inline-flex;
}
.MainBar__icons .dashboardButton {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin: 10px 10px 10px 15px;
  font-weight: 400;
}
@media screen and (min-width: 1200px) {
  .NavBar {
    margin: 0 auto;
    height: 50px;
    width: 87.72%;
  }
  .MainBar__class .xsOnly {
    display: none;
  }
  .Aside_visibleMenu {
    display: none !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .NavBar {
    margin: 0 auto;
    height: 50px;
    width: 90%;
  }
  .MainBar__class .xsOnly {
    display: none;
  }
  .Aside_visibleMenu {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .NavBar {
    height: 110px;
    margin: 0 auto;
    width: 90%;
  }
  .MainBar__logo {
    width: 100%;
    height: 60px;
  }
  .MainBar__class {
    justify-content: flex-start;
    margin-right: 30px;
  }
  .MainBar__class .xsOnly {
    display: none;
  }
  .MainBar__icons .mdMoreVisible {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .NavBar {
    height: 110px;
  }
  .MainBar__logo {
    height: 60px;
    width: 100%;
    padding: 15px 20px;
  }
  .MainBar__class {
    text-align: left;
  }
  .MainBar__class .smMoreVisible {
    display: none;
  }
  .MainBar__icons {
    margin-right: 10px;
  }
  .MainBar__icons .mdMoreVisible {
    display: none;
  }
}
