.Main {
  background-color: #fff;
  padding-top: 25px;
}
.container {
  /* width: 100%; */
  /* height: 15em; */
  overflow: hidden;
  position: relative;
}
.slider {
  padding: 0px 50px;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
}
.slideWrap {
  position: relative;
  width: 1060px;
  height: 300px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.slideBox {
  /* width: 100%; */
  margin: auto;
  /* overflow-x: hidden; */
}
.slideContent {
  display: flex;
  float: left;
  /* width: 1060px; */
}
.slideContent .imageDiv {
  padding: 0 12px;
  position: relative;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imageDiv .active-infomation {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 330px;
  height: 146px;
  left: 34px;
  bottom: 25px;
  text-align: left;

  animation: fadein 0.4s ease-in-out;
  opacity: 1;
}
.imageDiv .active-infomation h2 {
  margin: 20px 20px 0 20px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.imageDiv .active-infomation h3 {
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 20px;
  height: 44px;
  font-size: 14px;
  line-height: 1.64;
  color: #333;
}
.imageDiv .active-infomation hr {
  height: 1px;
  margin: 0 0 15px 0;
  border: none;
  flex-shrink: 0;
  background-color: #ececec;
}

.imageDiv .active-infomation a span {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;
  padding: 6px 8px;
  margin-top: 6px;
  margin: 6px 0 0 13px;
  display: flex;
  align-content: center;
}
.imageDiv .active-infomation a svg {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  color: lightgray;
}
.imageDiv .infomation {
  display: none;
}
.slideImage {
  /* height: 100%; */
  border-radius: 4px;
  float: left;
  object-fit: cover;
  position: relative;
}
.unactive-slideImage {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 12px;
  width: 98%;
  height: 100%;
}

.slideInformation {
  position: absolute;
  bottom: 30px;
  width: 330px;
  height: 146px;
  border-radius: 4px;
  background-color: #fff;
  /* opacity: 0; */
  text-align: left;
  left: 34px;
}
.slideInformation > h2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 1.5;

  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 700;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.slideInformation > h3 {
  margin: 0 20px;
  height: 44px;
  font-size: 14px;
  line-height: 1.64;
  color: #333;

  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.slideInformation > hr {
  height: 1px;
  margin: 0;
  border: none;
  flex-shrink: 0;
  background-color: #ececec;
}
.infoDirection {
  margin: 6px 0 0 13px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #36f;
}

.buttonGo {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-width: 64px;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
}
.buttonA {
  height: 40px;
  padding: 6px 8px;
}
.buttonText {
  display: inherit;
}
.buttonSvg {
  display: flex;
}
.svgIcon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  user-select: none;
  flex-shrink: 0;
  font-size: inherit;
}
.sliderButton {
  justify-content: center;

  width: 30px;
  height: 60px;
  opacity: 0.5;
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.sliderButton.Left {
  position: absolute;
  top: 120px;
  left: calc((100% - 1210px) / 2);
}
.sliderButton.Right {
  position: absolute;
  top: 120px;
  right: calc((100% - 1240px) / 2);
}

@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .sliderButton {
    display: none;
  }
  .imageDiv {
    height: 180px;
    overflow: hidden;
    width: 980px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sliderButton {
    display: none;
  }

  .imageDiv {
    height: 180px;
    overflow: hidden;
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .sliderButton {
    display: none;
  }

  .imageDiv {
    height: 180px;
    overflow: hidden;
    width: 750px;
  }
}
